# Trigramdata


For å kjøre notebooken er det bare å aktiver cellene og se på kommentarene. De første to er boilerplate, noe importkode og kode for å ting til å gå, og som gjør at jeg eventuelt kan legget til mer funksjonalitet.

In [1]:
import json
import pandas as pd

In [2]:
from collections import Counter

def show_table(df, words = [], periods = [], top=50):
    res = pd.DataFrame()
    if words != []:
        if periods != []:
            res = df.loc[words].sort_values(by=periods[0], ascending=False)[periods]
        else:
            res = df.loc[words].sort_values(by=df.columns[0], ascending=False)
    else:
        if periods != []:
            res = df.sort_values(by=periods[0], ascending=False)[periods]
        else:
            res = df.sort_values(by=df.columns[0], ascending=False)
    return res[:top]

def delta(wc1, wc2):
    common = Counter({x:wc1[x]/wc2[x] for x in wc1 if x in wc2 and wc2[x] > 0})
    diff = Counter({x:wc1[x]/0.5 for x in wc1 if wc2[x] == 0})
    return common + diff

def normalize(counter):
    tot = sum(counter.values())
    return Counter(dict({x:counter[x]/tot for x in counter}))

### Variabelen *word_periods* er en container for ord og perioder som undersøkes. 

Alt er aggregert i datasettet, så det må genereres på nytt fra server ved eventuelle endringer

In [91]:
word_periods = {
    'words': {
        'jøde':"jøde Jøde jøden Jøden Jøder jødene Jødene".split(),
        'land':"israelitt israelit Israel Israelit israelitt Israelitt hebreer Hebreer hebræer Hebræer".split(),
        'kristendom': "kristendom kristendommen kirke kirkelig kirkelige kristelig kristelige".split(),
        'religion' : "religion religions religioner religiøs religiøse".split(),
    },

    'periods': {
        '20_tallet' : (1920,1930),
        '30_tallet' : (1930,1940),
    }
}

# Få tak i data

Hent data fra json-filer sendt i mail. Enkleste måte å få tak i den på er å legge den i samme mappe som notebooken. Da slipper du unna sti-håndteringen. Fila **haakon_trigram_data.json** inneholder opptellingene, mens **haakon_trigram_assoc.json** inneholder assosiasjonsmålene.

In [3]:
ord_data = json.load(open('frode_jode.json'))
ord_assoc = json.load(open('frode_jode_assoc.json'))
ord_pmi = json.load(open('frode_jode_pmi.json'))

Dataene gjøres om til en såkalt dataframe for å bruke innebygde metoder. Legger dataene i variabelen **df_ord** og **df_assoc**. Her vil jeg følge en privat konvensjon om å la dataframe-objekter få prefikset df. Objektene starter ut som json-objekter som transformeres til datarammer.

In [4]:
df_ord = pd.DataFrame(ord_data)
df_assoc = pd.DataFrame(ord_pmi)

### Inspiser data

Inspiser dataene med kommandoen show_table(). Den tar tre argument der første argument er en dataframe, andre er de ordene som skal undersøkes, og tredje argument er de kolonnene. Kolonnenavnene er som er definert i **word_periods** ovenfor. For å se alt i datarammen er det bare å la de to siste argumentene stå åpen.

Her er et par eksempler

In [7]:
# vis alt, data sorteres på første kolonne -som du ser er det en del data, men det er muligheter til å forminske.

show_table(df_assoc)

,jøde_20_tallet,jøde_30_tallet,kristendom_20_tallet,kristendom_30_tallet,land_20_tallet,land_30_tallet,religion_20_tallet,religion_30_tallet
Gojim,19.049668,16.900359,NaN,NaN,NaN,NaN,NaN,NaN
greker,15.131889,15.132887,NaN,NaN,NaN,NaN,NaN,NaN
evige,13.006124,10.830866,NaN,NaN,NaN,NaN,NaN,NaN
araberne,12.362319,11.809212,NaN,NaN,NaN,NaN,NaN,NaN
Palestina,12.211324,9.617855,NaN,NaN,NaN,NaN,NaN,NaN
polsk,11.680223,7.141991,NaN,NaN,NaN,NaN,NaN,NaN
Ut,6.459329,NaN,NaN,-1.294952,NaN,NaN,NaN,NaN
navn,6.296230,4.603625,NaN,NaN,NaN,NaN,NaN,NaN
hjem,6.026567,6.006235,1.181232,0.425658,NaN,NaN,NaN,NaN
skaffe,6.023100,3.467976,NaN,NaN,NaN,NaN,NaN,NaN
Den,5.107277,3.800825,2.848950,1.823205,3.190333,NaN,3.558838,3.080832
Tyskland,5.018519,7.481052,-1.574050,-0.501788,NaN,NaN,NaN,NaN
ung,4.948360,4.162965,NaN,NaN,NaN,NaN,NaN,NaN
Norge,4.718745,2.164505,0.384910,-0.992296,NaN,NaN,NaN,NaN
mens,4.266200,3.046355,-1.133724,-1.671949,NaN,NaN,1.503636,NaN
For,4.109411,1.834251,-0.327039,-1.346396,NaN,NaN,0.510345,0.084511
oss,3.976505,0.347254,NaN,NaN,NaN,NaN,NaN,NaN
Men,3.846660,2.055988,0.505629,-0.436603,3.666681,NaN,2.347130,1.901195
som,3.786911,2.282037,-0.245004,-1.240383,0.943967,0.087757,1.235851,0.724388
Han,3.335931,2.220121,0.105932,-0.709875,NaN,2.256139,0.710870,0.792309
men,2.873484,2.562205,0.043416,-0.744819,2.693506,NaN,2.134767,2.075014
Det,2.747020,2.340732,1.015981,-0.067965,NaN,NaN,2.771052,1.540951
at,2.677201,2.521645,-1.876019,-2.099983,0.127989,NaN,0.013552,0.203805
en,2.590204,2.048608,0.132284,-0.429240,NaN,NaN,2.378754,2.275661
den,2.541555,0.768513,2.561923,1.714005,NaN,NaN,2.980624,2.955411
han,2.276824,1.398523,-4.007622,-5.223351,NaN,NaN,NaN,-2.836644
eller,2.162314,3.732999,-3.193215,-2.939501,NaN,NaN,-0.462746,1.662121
ved,2.064443,0.496199,2.565817,2.253867,NaN,NaN,-3.827404,-3.391045
og,1.953172,1.679635,-0.053576,-0.466271,0.843583,0.783824,2.464124,2.391264
En,1.915083,3.561926,0.480943,-0.115090,NaN,NaN,0.918053,1.085204
",",1.867937,1.083613,-0.706219,-1.168282,2.112456,1.829852,0.598013,0.614739
da,1.658524,1.198882,-1.719032,-2.759373,3.063508,NaN,-1.104040,-3.228930
for,1.238576,0.621221,-0.467861,-1.263760,1.906595,-0.729784,1.098942,0.840656
å,1.230855,0.947055,-2.666569,-3.540569,NaN,NaN,-2.116672,-2.480757
var,1.080224,0.899923,-1.505919,-2.017690,NaN,NaN,-0.146287,-0.323531
I,1.033914,0.223254,0.971294,-0.295322,0.631543,-0.127751,-0.536005,-0.361284
er,0.874761,2.091050,-0.726421,-0.996488,NaN,-1.055136,0.770091,0.481034
om,0.689050,0.987240,-1.279029,-1.554947,NaN,0.401770,1.428986,0.881356
»,0.678415,0.307724,-2.008513,-1.998454,1.208930,1.928704,-1.250799,-0.106282
har,0.627003,0.301394,-1.004737,-1.628291,2.031987,NaN,-2.457489,-1.126418
i,0.062783,1.212939,1.140618,1.016995,0.467767,2.926677,0.945723,0.962547
fra,-0.043809,-1.408172,1.459395,1.403647,NaN,0.328285,-1.320947,-0.003095
.,-0.589077,-0.123061,0.789076,1.159252,0.285392,-0.030460,0.167733,0.280193
av,-0.752980,0.370096,-0.624125,-1.168834,NaN,NaN,1.358924,0.937266
med,-0.834660,-0.061013,-1.520339,-2.346629,NaN,NaN,-0.012262,0.217444
det,-0.845117,-0.405706,0.314336,-0.133379,2.559867,1.667786,3.362712,2.424366
!,NaN,-2.004132,-4.078327,-4.665405,NaN,NaN,NaN,-4.431944
"""",NaN,NaN,-3.469472,-4.028162,0.859702,NaN,-3.044812,-2.384738
%,NaN,NaN,-5.404574,-2.470384,NaN,NaN,NaN,NaN
',NaN,NaN,-3.128762,-3.604243,NaN,NaN,NaN,NaN

In [16]:
# Vis for bare enkelte ord, og enkelte kolonner, dataene sorteres på den første kolonnen i perioden . 

show_table(df_assoc, 
           words = 'Gojim gojim'.split(), 
           periods = 'jøde_20_tallet jøde_30_tallet'.split())

       jøde_20_tallet  jøde_30_tallet
Gojim       19.049668       16.900359
gojim             NaN             NaN

## Data kan inspiseres hver for seg

Om du ønsker å se de viktigste ordene for en gitt periode er det bar å la ord-argumentet stå åpent.

In [17]:
show_table(df_assoc, 
           periods= ['kristendom_30_tallet'])

                           kristendom_30_tallet
Lundrlng                              10.457690
Ilegvik                               10.429493
Skago                                 10.414386
Rancm                                 10.315322
Prestenes                             10.290035
Katb                                  10.265994
BJølsen-                              10.236848
Ilavstein                             10.166459
Konfirmasjonsgudstjeneste             10.166459
Kath                                  10.044203
Diakonlssehusets                      10.042201
Leksvlkstrand                         10.014456
Kanem                                 10.014456
gravs                                  9.976981
Doves                                  9.974746
Skoklefall                             9.973814
K9-10                                  9.973814
Lundring                               9.972636
Dlakonlssehusets                       9.956241
Lovoy                                  9.944066
konissehusets                          9.944066
Hoimesse                               9.940284
Ranem                                  9.929420
Hpimesse                               9.912275
Viiku                                  9.893440
Hoimessc                               9.890824
doves                                  9.875157
Diakonissehusets                       9.863250
Hoimesso                               9.818535
Glem-                                  9.816516
døves                                  9.791255
Hegvlk                                 9.780568
Havsteln                               9.776512
Gardstad                               9.776512
H9-10                                  9.751421
Hemno                                  9.751421
MTøien                                 9.751421
Trefoldigheds                          9.751421
Methodist                              9.751421
Høimesse                               9.746391
Kveldsgudstjeneste                     9.700795
Dlakonissehusets                       9.651886
interimskirken                         9.635944
Lovøy                                  9.625890
Ormoy                                  9.618971
Ekno                                   9.613918
Ormøy                                  9.584840
Messefald                              9.581496
anglikanske                            9.532781
Ottesang                               9.526129

### show_table() 

har også et parameter *top* som brukes til å regulere størrelsen. Den har default 50

In [18]:
# se på alle kolonnene, sortert etter de viktigste ordene på 20-tallet

show_table(df_assoc, top=3)

,jøde_20_tallet,jøde_30_tallet,kristendom_20_tallet,kristendom_30_tallet,land_20_tallet,land_30_tallet,religion_20_tallet,religion_30_tallet
Gojim,19.049668,16.900359,NaN,NaN,NaN,NaN,NaN,NaN
greker,15.131889,15.132887,NaN,NaN,NaN,NaN,NaN,NaN
evige,13.006124,10.830866,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# 

show_table(df_assoc, 
          periods = ['religion_20_tallet', 'religion_30_tallet'],
          top = 10)

                      religion_20_tallet  religion_30_tallet
folketoner                     12.450441           11.967127
grunntone                      12.259142            8.818690
evangelisklutherske            12.238081           12.041913
Psykoanalyse                   11.702749            9.816200
grublerier                     11.421792           10.265469
etiske                         11.282002           10.398522
estetikk                       11.238081                 NaN
kirkelige                      11.185563           11.236734
evangelisk-lutherske           11.176680           10.456950
arbeidsliv                     10.510138           11.405356

In [108]:
# se på kristendommen

show_table(df_assoc, 
          periods = ['religion_20_tallet', 'religion_30_tallet'],
          top = 10)

                      religion_20_tallet  religion_30_tallet
folketoner                     12.450441           11.967127
grunntone                      12.259142            8.818690
evangelisklutherske            12.238081           12.041913
Psykoanalyse                   11.702749            9.816200
grublerier                     11.421792           10.265469
etiske                         11.282002           10.398522
estetikk                       11.238081                 NaN
kirkelige                      11.185563           11.236734
evangelisk-lutherske           11.176680           10.456950
arbeidsliv                     10.510138           11.405356